@media (min-width: 768px) {
  .navbar-default {
    background: #003333;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: 0;
  }
  .navbar-default .navbar-brand {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-default .navbar-nav > .active > a {
  }
  .navbar-default.navbar-shrink {
    background-color: #d6d6d6 !important;
    padding: 5px 0;
  }
}
